.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  color: #ffffff;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  }
   
  @media screen and (max-width: 1023px) {
    .profile__name {
      font-size: 27px;
      line-height: 33px;
   }
  }
