.elements__like-button_active {
  background-image: url(../../../../images/like_button_black.png);
  width: 22px;
  height: 19px;
  border: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 1;
}