.header__auth {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 55px;
    grid-gap: 10px;
  }
  
  @media screen and (max-width: 475px) {
    .header__auth {
     flex-direction: column;
    }
  }