.header__link {
    margin-right: 0;
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    transition: opacity .2s linear;
  }
  
  .header__link:hover {
    opacity: 0.6;
    cursor: pointer;
  }