.login__btn {
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    transition: opacity 0.2s linear;
    min-height: 50px;
    margin: 216px 0 0;
    font-size: 18px;
    line-height: 21.5px;
  }
  
  .login__btn:hover {
    opacity: 0.8;
    cursor: pointer;
  }