.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 37px;
  width: 358px;
}

@media screen and (max-width: 767px) {
  .popup__form {
    width: 238px;
    margin-bottom: 25px;
  }
 }