.popup__info {
  position: relative;
  margin: 195px auto auto;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 430px;
  max-height: 100%;
  border-radius: 10px;
  }
  
  @media screen and (min-width: 1280px) {
    .popup__info {
      width: 430px;
    }
  }

  